$colorfondo:hsl(240, 73%, 65%);
$colorrespuesta:rgb(171, 163, 163);
$colorcarta:rgb(214, 211, 218);
$colorh1:rgb(72, 14, 130);
$colorh2:rgb(72, 14, 130) ;
$colorfill:rgb(102, 45, 137);
$colop:rgb(8, 8, 8);
$texth2:.8rem;
$textrespuesta:.7rem;
$tipodeletra:'Kumbh Sans', sans-serif;
$texth2escritorio: 1.4rem;
$texth2escritoriopreguntas: .9rem;
$textrespuestaescritorio: .8rem;
